@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
	margin: 0;
	
}
h1{
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 40px;
	color: #3572EF;
	text-align: center;
	padding: 7%;
}
.container{
	width: 424px; 
	height: 630px; 
	background: #FFFFFF; 
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.34);
	margin: 10% auto;
}
.form{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}
label{
	font-family: "Inter";
	padding-left: 10%;
}
.form-input{
	display: flex;
	flex-direction: column;
	gap: 4px;
}
input{
	padding-left: 40px;
	box-sizing: border-box;
	align-self: center;
	width: 340px;
	height: 43px;
	background-color: lightgrey;
	border-style: solid;
	border-radius: 20px;
	border-width: 2px;
	border-color: #3572EF;
	background-color: #FFFFFF;
}

input:focus{
	box-shadow: 0 0 0 0;
	outline: 0;
}
.circulo{
	position: absolute;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color: #3572EF;
	left: 36px;
	margin-top: 24px;
}

::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.308);
	
}

img{
	position: absolute;
	width: 22px;
	height: 22px;
	background-color: #3572EF;
	left: 47px;
	margin-top: 34px;
}
button{
	font-family: 'Inter';
	font-weight: bold;
	font-size: medium;
	color: white;
	margin: 7px;
	background-color: #050C9C;
	border-style: none;
	width: 350px;
	height: 50px;
	align-self: center;
	transition: all 0.2s ease-in;
}
button:hover{
	background-color: #04096d;
}

p, a{
	font-family: 'Inter';
	color: black;
	text-align: center;
}
a{
	font-weight: bold;
}